<!doctype html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="apple-mobile-web-app-capable" content="yes">
    <meta charset="mobile-web-app-capable" content="yes">

    <!-- Polymer imports -->
    <link rel="stylesheet" href="polymer/source/polymer.css">
    <link rel="import" href="polymer/source/elements.html">
    <link rel="import" href="polymer/bower_components/polymer/polymer.html">
    <link rel="import" href="polymer/bower_components/webcomponentsjs/webcomponents.js">
    <!-- Polymer imports -->
    <title>clxxxii - Polymer Template</title>
</head>

<body>


    <polymer-element name="x-foo" noscript>

        <template>
            <style>
                h1 {
                    color: red;
                }
            </style>

            <h1>This is a Polymer element.</h1>
        </template>
    </polymer-element>

    <x-foo></x-foo>

    <style>
        h1 {
            color: blue;
        }
    </style>

    <h1>This is not a Polymer element.</h1>

    <script src="polymer/source/app.js">
    </script>
    
</body>

</html>