<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="apple-mobile-web-app-capable" content="yes">
<meta charset="mobile-web-app-capable" content="yes">

<!-- Bootstrap imports -->
<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="othermain.css" rel="stylesheet">
<!-- Bootstrap imports -->

<!-- Polymer imports -->
<link rel="stylesheet" href="/source/polymer.css">
<link rel="import" href="/source/elements.html">
<link rel="import" href="polymer/components/polymer/polymer.html">
<link rel="import" href="polymer/bower_components/polymer/polymer.html">
<!-- Polymer imports -->

<title>The Merge</title>
</head>

<body>


	<polymer-element name="x-foo" noscript> <template>
	<style>
h1 {
	color: red;
}
</style>

	<h1>This is a Polymer element.</h1>
	</template> </polymer-element>

	<div class="jumbotron">
		<div class="container">
			<h1>clxxxii</h1>
			<p>Innovative apps, Innovative ideas.</p>
			<a href="/starter/polymerTrans.html">Learn More</a>
		</div>
	</div>

	<x-foo></x-foo>



	<style>
h1 {
	color: blue;
}
</style>

	<h1>This is not a Polymer element.</h1>




	<script src="../js/jquery-1.11.2.min.js">
		
	</script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js">
		
	</script>

	<script src="app.js">
		
	</script>
	<script src="../page.js-master/page.js">
		
	</script>
</body>

</html>